/* body and .text are NOT required for the blinking cursor. */
body { background: black }

.text { 
  position: relative;
  display: inline-block;
  font-family: Fixedsys, Monaco, Arial, Helvetica, sans-serif;
  line-height: 14px;
  font-size: 14px;
  color: #bbFFbb;
  text-shadow: 0 0 8px #99FF99;
  /*color: white;*/
  min-width: 360px;
}
.textnoblnk { 
  position: relative;
  display: inline-block;
  font-family: Fixedsys, Monaco, Arial, Helvetica, sans-serif;
  line-height: 14px;
  font-size: 14px;
  color: #bbFFbb;
  text-shadow: 0 0 8px #99FF99;
  /*color: white;*/
  min-width: 360px;
}

.text2 {
  font-family: Fixedsys, Monaco, Arial, Helvetica, sans-serif;
  line-height: 14px;
  font-size: 14px;
  color: #bbFFbb;
  text-shadow: 0 0 8px #99FF99;
  /*color: white;*/
  min-width: 360px;
}

.a:link { 
  color: #bbFFbb;
  text-shadow: 0 0 8px #99FF99;
}

.a:visited { 
  color: #bbFFbb;
  text-shadow: 0 0 8px #99FF99;
}
.a:hover { 
  color: #bbFFbb;
  text-shadow: 0 0 100px #99FF99;
}
.a:active { 
  color: #bbFFbb;
  text-shadow: 0 0 8px #99FF99;
}

.text::after {
  content: "";
  /*position: absolute;*/
  top: 0;
  right: -15px;
  /* Remove display: inline-block if not required to be on the same line as text etc */
  display: inline-block;
  background-color: #99FF99/*#606060;*/;
  vertical-align: top;
  width: 6px;
  /* Set height to the line height of .text */
  height: 14px;
  /* 
  Animation paramaters:
  blink = animation-name, 
  1s = animation-duration, 
  step-end = animation-timing-function,
  infinite = animation-iteration-count
  */
  -webkit-animation: blink 1s step-end infinite;
  animation: blink 1s step-end infinite;
}

@-webkit-keyframes blink {
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}

@keyframes blink {
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}

/*Custom*/ 
ul {
  padding: 0;
  text-align: left; 
}